<h1>Cohorts#show</h1>
<p>Find me in app/views/cohorts/show.html.erb</p>
<p>
Name: <%= @cohort.name %> <br>
Teacher: <%= @cohort.teacher %> <br>
Start Date: <%= @cohort.start_date %> <br>
End Date: <%= @cohort.end_date %>
</p>