<h1>Students#show</h1>
<p>Find me in app/views/students/show.html.erb</p>
<p>Name:<%= @student.firstname %> <%= @student.lastname %><br>
Age:<%= @student.age %> <br>
Education:<%= @student.education %>
</p>
