<h1>Teachers#show</h1>
<p>Find me in app/views/teachers/show.html.erb</p>
<p>Name:<%= @teacher.firstname %> 
<%= @teacher.lastname %><br>
Age:
<%= @teacher.age %> <br>
Education:
<%= @teacher.education %>
</p>