<nav>
    <div>
        <ul>
            <li>
                <%= link_to 'Home', root_path %>
            </li>
            <li>
                <%= link_to 'Cohorts', cohorts_path %>
            </li>
            <li>
                <a href="/courses">Courses</a>
            </li>
            <li>
                <a href="/students">Student</a>
            </li>
            <li>
                <a href="/teachers">Teachers</a>
            </li>
            <% if user_signed_in? %>
                <li>
                    <%= link_to 'Logout', destroy_user_session_path, method: :delete %>
                </li>
            <% else %>
                <li>
                    <%= link_to 'Log In', new_user_session_path %>
                </li>
            <% end %>
        </ul>
    </div>
</nav>